/DataFlexStudio v20.0/Migrating to MySQL Environment/IdeSrc/Workspace.loc
/DataFlexStudio v20.0/Base_BI_MySql/IdeSrc/Workspace.loc
IdeSrc

/SisVisualPP/Policom/Programs/*.exe
/SisVisualPP/Policom/Programs/*.manifest
/SisVisualPP/Policom/Programs/*.dbg
/SisVisualPP/Policom/AppSrc/*.dep
/SisVisualPP/Policom/AppSrc/*.prn
/SisVisualPP/Policom/AppSrc/*.xml
/SisVisualPP/Policom/AppSrc/*.cfg
/SisVisualPP/Policom/IdeSrc/*.mtd
/SisVisual/Policom/Programs/*.exe
/SisVisual/Policom/Programs/*.manifest
/SisVisual/Policom/Programs/*.dbg
/SisVisual/Policom/AppSrc/*.dep
/SisVisual/Policom/AppSrc/*.prn
/SisVisual/Policom/AppSrc/*.xml
/SisVisual/Policom/AppSrc/*.cfg
/SisVisual/Policom/IdeSrc/*.mtd
/SisVisualPE/Policom/Programs/*.exe
/SisVisualPE/Policom/Programs/*.manifest
/SisVisualPE/Policom/Programs/*.dbg
/SisVisualPE/Policom/AppSrc/*.dep
/SisVisualPE/Policom/AppSrc/*.prn
/SisVisualPE/Policom/AppSrc/*.xml
/SisVisualPE/Policom/AppSrc/*.cfg
/SisVisualPE/Policom/IdeSrc/*.mtd
/SisVisualPR/Policom/Programs/*.exe
/SisVisualPR/Policom/Programs/*.manifest
/SisVisualPR/Policom/Programs/*.dbg
/SisVisualPR/Policom/AppSrc/*.dep
/SisVisualPR/Policom/AppSrc/*.prn
/SisVisualPR/Policom/AppSrc/*.xml
/SisVisualPR/Policom/AppSrc/*.cfg
/SisVisualPR/Policom/IdeSrc/*.mtd

/SisVisual/Policom/AppHtml/startbootstrap-sb-admin-2/

*.cfg
*.mtd
*.dbg
*.err
*.cfg
*.mtd
*.dbg

$Sugestoes de gitignore DAW
**/AppSrc/*.dep
**/AppSrc/*.err
**/AppSrc/*.fld
**/AppSrc/*.pbg
**/AppSrc/*.pdp
**/AppSrc/*.pkd
**/AppSrc/*.prn
**/AppSrc/*.prp
**/AppSrc/config/classlist.xml
**/Data/*.cch
**/Data/*.bad
**/DDSrc/*.bak
**/IdeSrc/
**/Programs/*.exe
**/Programs/*.dbg
**/Programs/*.log
**/AppHtml/DfEngine/
/Data/DFConnId.ini