<?xml version="1.0"?>
<configuration>
	<location path="RestService/Products">
		<system.webServer>
			<dataflexHttpModule application="DFLCHttpHandler" enabled="true" object="oProducts" verbs="GET" errortype="0"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="RestService">
		<system.webServer>
			<dataflexHttpModule application="DFLCHttpHandler" enabled="true" object="oServiceHome" verbs="GET" errortype="0"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="DfResource">
		<system.webServer>
			<dataflexHttpModule application="DFLCHttpHandler" enabled="true" object="oWebResourceManagerProxy" verbs="GET,POST" errortype="0"></dataflexHttpModule>
		</system.webServer>
	</location>
	<location path="WebServiceDispatcher.wso">
		<system.webServer>
			<dataflexHttpModule application="DFLCHttpHandler" enabled="true" object="oWebServiceDispatcher" verbs="GET,POST" errortype="1"></dataflexHttpModule>
		</system.webServer>
	</location>
</configuration>
